html {
	background: url('store_images/backgroundCropBlue.jpg')
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face {
	font-family: 'xiomararegular';
  src: url('store_font/xiomara-script-webfont.woff2') format('woff2'),
  	url('store_font/xiomara-script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#headerAlign {
	padding-left: 48px;
	max-width: 1170px;
}

#utilityMenu {
	font-family: Arial;
	font-size: 1.0em;
	background-color: white;
	position: absolute;	
	padding: 0.35em;
	margin: 0px;
	right: 0px;	
}

#utilityMenu li {
	padding: 0px 0.25em 0px 0.2em;
	vertical-align: middle;
}

#utilityMenu ul li.acctNav a,
	#utilityMenu ul li.acctNav a:visited {
	color: blue;	
	display: inline-block;
	height: 1.3em;
	padding: 0.5em;
	margin: -0.4em 0px 0px 0px;
	font-size: 0.8em;
}

a, a:visited {
	color: blue;
}

a:hover {
	color: #aac7f7;
}

#brand {
	display: flex;
}

#logo, h1 {
	display: inline-block;
}

h1 {
	font-family: 'xiomararegular';
	font-weight:normal;
	color: #092f6d;
	font-size: 8.0em;
	text-shadow: white 3px 6px;
	margin: 0px;
}

nav {
	font-family: 'xiomararegular';
	font-weight:normal;
	color: purple;
	font-size: 1.7em;
	background-color: white;
	border: black solid 4px;
	margin-top: 26px;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav li {
	display: inline-block;
	margin: 0px;
}

nav li a, nav li a:visited {
	color: blue;
	padding: 0.3em 0.6em;
	text-decoration: none;
}

nav li a:hover {
	color: #aac7f7;	
}

.contentWrapper {
	display: flex;
	padding-left: 48px;
	max-width: 1170px;	
}

#sidebar {
	width: 805px;
	height: fit-content;
	font-family: Arial;
	display: inline-block;
	background-color: white;
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin: 1.5em 0px 3.0em 0px;
	border: black solid 4px;
}

h2 {
	font-family: 'xiomararegular';
	font-weight:normal;
	font-style:normal;
	color: purple;
	font-size: 1.8em;
	padding: 0px;
	margin: 0.5em 0px 0.5em 0px;
}

p {
	font-size: 1.0em;
	line-height: 1.4em;
	color: black;
	padding: 0px;
	margin: 0px 0.5em 0.75em 0px;
}

#socialMedia {
	padding-right: 13px;
}

#main {
	background-color: #6c90cc;
	border: black solid 4px;
	margin: 25px 0px 25px 2.0em;
	padding: 1.0em 0px 2.0em 1.5em;
	display: inline-block;
}

h3 {
	font-family: 'xiomararegular';
	font-weight:normal;
	font-style:normal;
	color: purple;
	font-size: 2.0em;
	margin: 0em 0px 0.5em 0px;
}

#photos{
	margin-left:61px;
}

.photoFrame {
	width: 250px;
	padding: 1.0em;
	margin: 0px 0.5em 2.0em 0.5em;
	background-color: darkblue;
	display: inline-block;
	border: black solid 2px;
}

h4 {
	font-family: Arial;
	font-weight: normal;
	color: white;
	font-size: 2.0em;
	padding: 0px;
	margin: 0.5em 0px 0.5em 0px;
}

footer {
	background-color: white;
	font-size: 1.2em;
	color: black;
	width: 100%;
	text-align: center;
}

#menufooter {
	display: inline-block;
	margin: 0px 0px 0px 0.6em;
	padding: 0px;
}

footer ul li {
	display: inline-block;
	padding: 0px 0.7em 0px 0px;
	margin: 0px;
}

footer ul li::before {
	padding-right: 0.7em;
}

footer a, footer a:visted {
	color: blue;
}

footer a:hover {
	color: #aac7f7;
}